.report {
  display: inline-block;
  box-sizing: border-box;
  width: 22%;
  padding: 2% 3%;
  margin: 3% 0;
  border-radius: 1em;
  background-color: #e9f4f7;
}

.report:hover {
  opacity: 60%;
  cursor: pointer;
}

.report:not(:nth-child(4n)) {
  margin-right: 4%;
}

.title {
  margin-bottom: 1%;
  font-weight: bolder;
}
