.wr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wr::before {
  content: "";
  height: 100vh;
  width: 100vw;
  background-color: #70a369;
  background-size: cover;
  position: absolute;
}

.header {
  width: 100vw;
  height: 110px;
}

.save-btn {
  position: absolute;
  right: 2vw;
  height: fit-content;
  padding: 10px 15px;
  margin-top: 7vh;
  text-decoration: inherit;
  background-color: black;
  border-radius: 20px;
  color: white;
  font-weight: bolder;
}

.form {
  position: relative;
  width: 80vw;
  border-radius: 20px;
  background-color: #99b995;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-btn:hover {
  cursor: pointer;
}

.title {
  box-sizing: border-box;
  margin-top: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5vw;
}

.title-input {
  box-sizing: border-box;
  border-radius: 10px;
  border: 0;
  height: 5vh;
  width: 48%;
  padding-left: 10px;
}

.btw-input2 {
  box-sizing: border-box;
  border-radius: 10px;
  border: 0;
  height: 40px;
  width: 70vw;
  padding-left: 10px;
}

.report-title {
  margin-top: 3vh;
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content-input {
  box-sizing: border-box;
  border-radius: 10px;
  border: 0;
  height: 50vh;
  width: 70vw;
  margin-bottom: 5vh;
  padding: 2vw;
}
.public-private-btn {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: end;
}

.public-private-btn button {
  margin-right: 8%;
  padding: 0.5vh 1vw;
  border: none;
  border-radius: 10px;
}

.public-private-btn button:hover {
  cursor: pointer;
}
@media (max-width: 600px) {
  .form {
    width: 90vw;
    height: 75vh;
    margin-top: 1vh;
  }
  .title {
    margin-top: 3vh;
  }
  .title-input {
    height: 3.6vh;
  }
  .content-input {
    width: 80vw;
    height: 60vh;
    margin-bottom: 3vh;
  }
  .public-private-btn {
    height: 4vh;
    margin: 1vh 0;
  }
  .public-private-btn button {
    margin-right: 6vw;
    padding: 0.5vh 2vw;
  }
}
