@keyframes modal-open {
  0% {
    transform: scale(0, 0.025);
  }
  50% {
    transform: scale(1, 0.025);
  }
}

@keyframes modal-close {
  0% {
    transform: scale(1, 0.025);
  }
  50% {
    transform: scale(0, 0.025);
  }
}

.modal {
  box-sizing: border-box;
  border-radius: 30px;
  background-color: rgb(207, 207, 207);
  width: 70vw;
  height: 80vh;
  padding: 2vh 2vw;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media (max-width: 600px) {
  .modal {
    width: 88vw;
  }
}
.modal button:hover {
  cursor: pointer;
}

.modal li {
  margin: 1vh 1vw;
  padding-right: 2vw;
}

.modal li:not(:last-child) {
  font-size: large;
}

.modal li:last-child {
  clear: left;
  background-color: white;
  border-radius: 20px;
  padding: 20px 25px;
  margin: 2vh 2vw;
}

.open {
  transform: scale(1);
  animation: modal-open 0.5s;
}

.close {
  transform: scale(0);
  animation: modal-close 0.5s;
}

.close-btn {
  position: absolute;
  right: 1.5vw;
  top: 2vh;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 15px;
  z-index: 1;
}
.modal button {
  position: relative;
  height: 5vh;
  margin: 0 0.5vw;
  padding: 1vh 1vw;
  border: none;
  border-radius: 0.7em;
  font-weight: bold;
}

.book li:nth-child(3) {
  font-weight: bold;
  margin: 1.5vh 0;
}
.book li:nth-child(6) {
  clear: left;
  padding-left: 2vw;
}

.book-img {
  width: 170px;
  height: 257px;
  position: relative;
  float: left;
  margin: 0vh 3vw 2vh 2vw;
}

@media (max-width: 600px) {
  .close-btn {
    right: 2.5vw;
    top: 1.3vh;
    width: 30px;
    height: 30px;
  }
  .book li:nth-child(3) {
    position: relative;
    top: 1vh;
  }
  .modal button {
    height: 4vh;
    padding: 0vh 2vw;
    margin: 0.5vh;
  }
  .modal li:nth-child(8) {
    clear: left;
  }
}

.close-btn:hover {
  cursor: pointer;
  color: blueviolet;
}

.chosen {
  background-color: gold;
}
