.nav {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bgcolor {
  background-color: #71a6be;
  transition: 0.3s ease-in;
}
.logo {
  margin-top: 0.5vh;
  width: 150px;
}
@media (max-width: 600px) {
  .logo {
    width: 100px;
  }
}

.grmenu {
  margin: 0 1vw 0 2vw;
  z-index: 5;
}
.grmenu:hover {
  cursor: pointer;
}

.site-name {
  align-self: center;
  height: 8vh;
}
.site-name img {
  height: 8vh;
}
