.nav {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(120, 163, 176, 0.656);
}

.site-name {
  font-size: xx-large;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.grmenu {
  margin: 10px 25px;
  z-index: 5;
}
.grmenu:hover {
  cursor: pointer;
}
