.page {
  width: 100vw;
  height: 93vh;
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calender {
  position: relative;
  bottom: 2vh;
  box-sizing: border-box;
  width: 69vw;
  height: 69vh;
  padding: 2vh 3vw 3vh;
  background-color: #f8efe2;
  border-radius: 30px;
}

.btngroup {
  position: relative;
  bottom: 2vh;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
}

.btngroup button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0 1vw;
}

.day-list li {
  display: inline-block;
  width: 9vw;
  height: 4vh;
  text-align: center;
}

.container {
  box-sizing: border-box;
  width: 63vw;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(7, 9vw);
  grid-template-rows: repeat(6, 10vh);
}

.element {
  display: inline-block;
}

.content {
  width: 96%;
  height: 94%;
  margin: 3% 2%;
  border-radius: 10px;
  background-color: #fffbf678;
}
.thismonth {
  background-color: #fffbf6;
}
