.text1 {
  font-weight: bolder;
  text-align: center;
  margin: 1vh 0 0;
  color: #292929;
}

@media (min-width: 992px) {
  .text1 {
    font-size: x-large;
  }
}

@media (min-width: 991px), (max-width: 601px) {
  .text1 {
    font-size: large;
  }
}

@media (max-width: 600px) {
  .text1 {
    font-size: medium;
  }
}
