.bookshelf-wrapper {
  width: 100vw;
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
}

.book-shelf {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 70vw;
  height: 24vh;
  border: 30px;
  border-style: solid;
  border-color: #564b32;
  background-color: rgb(174, 159, 142);
  overflow-x: scroll;
  scrollbar-width: none;
}
.book-wrapper {
  position: absolute;
  bottom: 0;
  height: 80%;
  width: 100%;
  white-space: nowrap;
}
.book {
  bottom: 0;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  padding: 1vh 0.3vw;
  font-size: 0.9em;
  letter-spacing: 1.5px;
  writing-mode: vertical-lr;
  font-weight: bolder;
  overflow: hidden;
  border-right: 1px solid rgb(43, 40, 37);
  background: linear-gradient(
    0.25turn,
    rgb(126, 120, 115),
    rgb(255, 249, 241),
    rgb(126, 120, 115)
  );
  transition: 0.2s ease-in-out;
}

.book:hover {
  cursor: pointer;
  transform: translate(0, -2vh);
  transition: 0.3s ease-in-out;
}
.bookmark {
  position: absolute;
  z-index: 1;
}

@media (min-width: 992px) {
  .bookshelf-wrapper {
    height: 24vh;
  }
  .book {
    width: 36px;
  }
  .bookmark {
    right: 20vw;
  }
}

@media (max-width: 600px) {
  .bookshelf-wrapper {
    height: 22vh;
  }
  .book-shelf {
    width: 86vw;
    height: 22vh;
  }
  .book {
    width: 30px;
  }
  .bookmark {
    right: 15vw;
  }
}
