.book-shelf {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 70vw;
  height: 24vh;
  border: 30px;
  border-style: solid;
  border-color: #564b32;
  background-color: rgb(174, 159, 142);
  display: flex;
  flex-direction: row;
}

.book {
  box-sizing: border-box;
  width: 32px;
  font-size: 20px;
  height: 80%;
  padding: 5px;
  align-self: last baseline;
  writing-mode: vertical-lr;
  font-weight: bolder;
  overflow: hidden;
  border-right: 1px solid rgb(95, 91, 87);
  background: linear-gradient(
    0.25turn,
    rgb(135, 129, 124),
    rgb(255, 250, 239),
    rgb(135, 129, 124)
  );
  transition: 0.2s ease-in-out;
}

.book:hover {
  cursor: pointer;
  transform: translate(0, -2vh);
  transition: 0.3s ease-in-out;
}

.bookmark {
  position: absolute;
  right: 0;
  translate: 0 -30px;
}
