.main-nav {
  position: sticky;
  top: 0px;
  height: 7vh;
  z-index: 2;
}

.main {
  position: absolute;
  top: 0px;
  width: 100vw;
  z-index: 1;
}

.main-nav,
.sidebar {
  font-family: "hambak";
}

.sidebar {
  width: fit-content;
  position: relative;
  z-index: 2;
  transition: 0.5s ease-in-out;
}
