.report {
  box-sizing: border-box;
  padding-top: 8vh;
  width: 100vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "orbit";
  font-size: large;
}

.back-btn {
  position: absolute;
  left: 3vw;
  top: 13vh;
  height: 5vh;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  font-weight: bolder;
  font-size: large;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.back-btn:hover {
  cursor: pointer;
}
.back-arrow {
  display: inline-block;
}
.text-list {
  display: flex;
  align-items: center;
}

.report-wapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-header {
  width: 100%;
  margin-top: 5vh;
}
@media (max-width: 600px) {
  .back-btn {
    top: 7vh;
  }
  .report-wapper {
    width: 75%;
  }
  .report-header {
    margin-top: 7vh;
  }
}

.header-line {
  width: 100%;
  padding: 0.5%;
  display: flex;
  flex-direction: row;
}
.view-like-lock {
  margin-top: 1vh;
  display: flex;
  justify-content: right;
}
.view-like-lock div span:nth-child(1) {
  margin-right: 0.7vw;
}
@media (max-width: 600px) {
  .view-like-lock div {
    width: 15vw;
  }
}
.title,
.booktitle {
  box-sizing: border-box;
  width: 60%;
  padding-left: 1vw;
}

.created-time {
  box-sizing: border-box;
  width: 40%;
  padding-right: 1.5vw;
  text-align: end;
}

.view-like-lock {
  margin-bottom: 1vh;
  padding-right: 1vw;
}

.view,
.like,
.lock {
  width: 9%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.like:hover {
  cursor: pointer;
}

.report-content {
  box-sizing: border-box;
  width: 100%;
  height: 60vh;
  padding: 2%;
  background-color: rgb(244, 244, 244);
}

.report-footer {
  width: 100%;
  margin-top: 2vh;
}

.btn {
  float: right;
  margin-left: 1vw;
}

.btn button {
  border: 0;
  border-radius: 10px;
  padding: 1vh 1vw;
}

.btn button:hover {
  cursor: pointer;
}
