.bs {
  height: 37vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.bs::before {
  height: 50vh;
  width: 100vw;
  background-color: #dbecf3;
  background-size: cover;
  position: absolute;
  content: "";
}

.div1 {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-name {
  position: absolute;
  width: 100vw;
  left: 0;
}

.site-name {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 40px;
  font-weight: 700;
}
.grmenu {
  margin: 30px;
  position: relative;
}
.grmenu:hover {
  cursor: pointer;
}
.report-btn {
  color: inherit;
  text-decoration: inherit;
  background-color: black;
  height: fit-content;
  padding: 10px 15px;
  border-radius: 20px;
  color: white;
  font-weight: bolder;
  align-self: center;
  position: absolute;
  margin-top: 5vh;
  right: 3vw;
}
.report-btn:hover {
  cursor: pointer;
}

.book-shelf {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 70vw;
  height: 24vh;
  border: 30px;
  border-style: solid;
  border-color: #564b32;
  background-color: rgb(174, 159, 142);
  display: flex;
  flex-direction: row;
}
.book {
  box-sizing: border-box;
  width: 32px;
  font-size: 20px;
  height: 80%;
  padding: 5px;
  align-self: last baseline;
  writing-mode: vertical-lr;
  font-weight: bolder;
  overflow: hidden;
}

.sidebar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  transition: 0.5s;
}

.bookmark {
  position: absolute;
  right: 0;
  translate: 0 -30px;
}

.div2 {
  width: 75vw;
  height: 50vh;
  margin: 3vh 12vw 1vh;
}
.reports {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.report {
  box-sizing: border-box;
  display: inline-block;
  width: 13vw;
  height: 20vh;
  margin: 2vh 0;
  background-size: cover;
  text-decoration: none;
  color: black;
  font: 0.9em solid;
  border-radius: 10px;
  background-color: #eaf4f8;
}
.report a {
  text-decoration-line: none;
  color: black;
}

.report:not(:nth-child(5n)) {
  margin-right: 2.5vw;
}

.report-content {
  width: 100%;
  height: 100%;
  padding: 2vh 1.5vw;
}

.btns {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btns button {
  border: none;
  border-radius: 5px;
  padding: 1vh 1vw;
  margin: 0 0.5vw;
}

.btns button:hover {
  cursor: pointer;
  color: white;
  background-color: #979797;
}
