.bs {
  height: 37vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.bs::before {
  height: 50vh;
  width: 100vw;
  background-color: #dbecf3;
  background-size: cover;
  position: absolute;
  content: "";
}

.div1 {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-name {
  position: absolute;
  width: 100vw;
  left: 0;
}

.site-name {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 40px;
  font-weight: 700;
}
.grmenu {
  margin: 30px;
  position: relative;
}
.grmenu:hover {
  cursor: pointer;
}
.create-update-btn {
  color: inherit;
  text-decoration: inherit;
  background-color: black;
  height: fit-content;
  padding: 10px 15px;
  border-radius: 20px;
  color: white;
  font-weight: bolder;
  align-self: center;
  position: absolute;
  margin-top: 7vh;
  right: 3vw;
}
.create-update-btn:hover {
  cursor: pointer;
}

.sidebar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  transition: 0.5s;
}
