.bs {
  height: 37vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.bs::before {
  height: 50vh;
  width: 100vw;
  background-color: #dbecf3;
  background-size: cover;
  position: absolute;
  content: "";
}

.div1 {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-name {
  position: absolute;
  width: 100vw;
  left: 0;
}

.create-update-btn {
  color: inherit;
  text-decoration: inherit;
  background-color: black;
  height: fit-content;
  padding: 10px 15px;
  border-radius: 20px;
  color: white;
  font-weight: bolder;
  align-self: center;
  position: absolute;
  margin-top: 7vh;
  right: 3vw;
}

.create-update-btn:hover {
  cursor: pointer;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(191, 191, 191, 0.364);
}
