.searchbook {
  position: relative;
  margin: 10vh 10vw 2vh;
  z-index: 2;
  float: right;
}

.ul {
  position: absolute;
  width: 80vw;
  top: 15vh;
  border-radius: 20px;
  background-color: rgb(227, 242, 245);
  margin: 3vh 10vw;
  z-index: 1;
}

.ul > li {
  padding: 2vh 2vw;
  border-radius: 20px;
}
.ul > li > li:not(:last-child) {
  margin-bottom: 1vh;
}

.book:hover {
  background-color: rgb(214, 232, 236);
  cursor: pointer;
}

.book-img {
  width: 150px;
  margin-right: 2vw;
  clear: left;
  float: left;
}

.enter {
  clear: left;
}

.modal {
  position: fixed;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
}
.modalwrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(83, 83, 83, 0.626);
  z-index: 3;
}

.close {
  display: none;
}

.no-result-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.no-result {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-weight: bold;
  padding: 2vh 2vw;
  border-radius: 10px;
  background-color: rgba(209, 209, 209, 0.353);
}
