.sidebar {
  background-color: rgb(235, 179, 95);
}

@media (min-width: 992px) {
  .sidebar {
    width: 200px;
    height: 100vh;

    padding: 2vw;
  }
}

@media (max-width: 991px) and (min-width: 601px) {
  .sidebar {
    width: 20vw;
    height: 100vh;

    padding: 2vw;
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 35vw;
    height: 100vh;

    padding: 2vw;
  }
  .user-name {
    margin-left: 4vw;
  }
}

.grmenu {
  margin: 2em;
}

.grmenu:hover {
  cursor: pointer;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.profile-img {
  margin: 10vh auto 2vh;
  display: block;
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.user-name {
  margin-top: 5%;
  margin-left: 1vw;
  text-align: center;
}

.buttons {
  width: 100%;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  margin: 3%;
}
.logout {
  position: absolute;
  bottom: 5vh;
}
