* {
  margin: 0;
  padding: 0;
}

.slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(230, 230, 230, 0.495);
  width: 700px;
}

li {
  list-style: none;
}

.slide-wrapper {
  position: relative;
  height: 250px;
  width: 660px;
  margin: 0 auto;
  overflow: hidden;
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 4110px;
  transform: translateX(-1380px);
}

.slides.animated {
  transition: 0.5s ease-out;
}

.slides li {
  width: 200px;
  height: 250px;
  float: left;
}

.slides li:not(:last-child) {
  margin-right: 30px;
}

.book-img {
  width: 100%;
  height: 100%;
}

.prev .next {
  font-weight: bolder;
  font-size: 20px;
  display: inline;
}
