* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2vh 1vw;
  background-color: #d6d6d674;
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
}

.slide-wrapper {
  position: relative;
  overflow: hidden;
}

.arrowwrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .slide {
    border-radius: 20px;
    width: 700px;
  }
  .slide-wrapper {
    height: 250px;
    width: 660px;
  }
  .slides {
    width: 4110px;
    transform: translateX(-1380px);
  }
  .slides li {
    width: 200px;
    height: 250px;
    float: left;
  }

  .slides li:not(:last-child) {
    margin-right: 30px;
  }

  .arrowwrapper {
    height: 250px;
    width: 690px;
  }
}

@media (max-width: 991px) and (min-width: 601px) {
  .slide {
    border-radius: 20px;
    width: 420px;
  }
  .slide-wrapper {
    height: 150px;
    width: 396px;
  }
  .slides {
    width: 2466px;
    transform: translateX(-828px);
  }
  .slides li {
    width: 120px;
    height: 150px;
    float: left;
  }

  .slides li:not(:last-child) {
    margin-right: 18px;
  }

  .arrowwrapper {
    height: 250px;
    width: 420px;
  }
}

@media (max-width: 600px) {
  .slide {
    border-radius: 10px;
    width: 350px;
  }
  .slide-wrapper {
    height: 125px;
    width: 330px;
  }
  .slides {
    width: 2055px;
    transform: translateX(-690px);
  }
  .slides li {
    width: 100px;
    height: 125px;
    float: left;
  }

  .slides li:not(:last-child) {
    margin-right: 15px;
  }
  .arrowwrapper {
    height: 125px;
    width: 360px;
  }
}

.slides.animated {
  transition: 0.5s ease-out;
}

.book-img {
  width: 100%;
  height: 100%;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.appear {
  animation: fade-in 0.3s ease-in-out;
  animation-fill-mode: forwards;
  z-index: 1;
}

.disappear {
  animation: fade-out 0.5s ease-in-out;
  animation-fill-mode: forwards;
  z-index: 1;
}

.arrow {
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.arrow:hover {
  cursor: pointer;
}
